/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
    .logo-zeek {
        width: 180px;
    }
}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .logo-zeek {
        width: 220px;
    }
}

/* Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
    .logo-zeek {
        width: 220px;
    }
}

/* Tablets e Celulares (col) 0px a 767px */
@media (max-width: 767px) {
    .logo-zeek {
        width: 160px;
    }

    .centralizar {
        padding: 5px;
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    .menus-cabecalho2 {
        right: 20px;
    }

    .cursos-destaque {
        width: 150px;
        padding-inline: 1px;
    }

    .botao {
        width: 100px;
        border-radius: 10px;
        padding: 5px;
        font-size: 10px;
    }

    .imagem-diferenciais {
        width: 50px;
    }

    .text-white {
        font-size: 10px;
    }
    .video-zeek {
        width: 100%;
      }

      .text-white{
        font-size: 30px;
      }
      .navbar-nav{
        text-align: left;
      }
}